<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd ">
	<welcome-file-list>
		<welcome-file>WelcomeController</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>IndexController</servlet-name>
		<servlet-class>servlet.IndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexController</servlet-name>
		<url-pattern>/IndexController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateUserServlet</servlet-name>
		<servlet-class>servlet.CreateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateUserServlet</servlet-name>
		<url-pattern>/CreateUserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>servlet.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddPictureController</servlet-name>
		<servlet-class>servlet.AddPictureController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddPictureController</servlet-name>
		<url-pattern>/AddPictureController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignOutServlet</servlet-name>
		<servlet-class>servlet.SignOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignOutServlet</servlet-name>
		<url-pattern>/SignOutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdatePersonalDataServlet</servlet-name>
		<servlet-class>servlet.UpdatePersonalDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdatePersonalDataServlet</servlet-name>
		<url-pattern>/UpdatePersonalDataServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdatePasswordServlet</servlet-name>
		<servlet-class>servlet.UpdatePasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdatePasswordServlet</servlet-name>
		<url-pattern>/UpdatePassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddAlbumController</servlet-name>
		<servlet-class>servlet.AddAlbumController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAlbumController</servlet-name>
		<url-pattern>/addAlbumController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PictureController</servlet-name>
		<servlet-class>servlet.PictureController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PictureController</servlet-name>
		<url-pattern>/PictureController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>atpController</servlet-name>
		<servlet-class>servlet.NajTop10Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>atpController</servlet-name>
		<url-pattern>/atpController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CheckRateController</servlet-name>
		<servlet-class>servlet.CheckRateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckRateController</servlet-name>
		<url-pattern>/CheckRateController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RateController</servlet-name>
		<servlet-class>servlet.RateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RateController</servlet-name>
		<url-pattern>/RateController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TagController</servlet-name>
		<servlet-class>servlet.TagController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TagController</servlet-name>
		<url-pattern>/TagController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PreTagController</servlet-name>
		<servlet-class>servlet.PreTagController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PreTagController</servlet-name>
		<url-pattern>/PreTagController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CommentController</servlet-name>
		<servlet-class>servlet.CommentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentController</servlet-name>
		<url-pattern>/CommentController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PreCommentController</servlet-name>
		<servlet-class>servlet.PreCommentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PreCommentController</servlet-name>
		<url-pattern>/PreCommentController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WelcomeController</servlet-name>
		<servlet-class>servlet.WelcomeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WelcomeController</servlet-name>
		<url-pattern>/WelcomeController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>recentAcitvityController</servlet-name>
		<servlet-class>servlet.RecentAcitvityController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>recentAcitvityController</servlet-name>
		<url-pattern>/recentAcitvityController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteCommentController</servlet-name>
		<servlet-class>servlet.DeleteCommentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteCommentController</servlet-name>
		<url-pattern>/DeleteCommentController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteTagController</servlet-name>
		<servlet-class>servlet.DeleteTagController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteTagController</servlet-name>
		<url-pattern>/DeleteTagController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeletePictureController</servlet-name>
		<servlet-class>servlet.DeletePictureController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeletePictureController</servlet-name>
		<url-pattern>/DeletePictureController</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>DeleteAlbumController</servlet-name>
		<servlet-class>servlet.DeleteAlbumController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAlbumController</servlet-name>
		<url-pattern>/DeleteAlbumController</url-pattern>
	</servlet-mapping>
			<servlet>
		<servlet-name>PreEditAlbumController</servlet-name>
		<servlet-class>servlet.PreEditAlbumController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PreEditAlbumController</servlet-name>
		<url-pattern>/PreEditAlbumController</url-pattern>
	</servlet-mapping>
				<servlet>
		<servlet-name>SearchController</servlet-name>
		<servlet-class>servlet.SearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchController</servlet-name>
		<url-pattern>/SearchController</url-pattern>
	</servlet-mapping>
</web-app>